header{
    background-color:#00509E;
    color:white;
    text-align:center;
    padding:25px;
    margin-bottom:30px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

header h1{
    margin:0;
    font-size:2rem;
}
